@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
:root {
  --primary-color: #b91c1c;
  --secondary-color: #fca5a5;
}
body {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  margin-top: 5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

label {
  font-size: larger;
  font-weight: 600;
  padding: 2rem;
  display: block;
}

input {
  padding: 1rem;
  width: 25%;
  border-radius: 0.5rem;
  border: none;
}
button {
  display: block;
  margin: auto;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
}
#message-to-user {
  font-size: larger;
  font-weight: bold;
}
.footer {
  background-color: var(--primary-color);
  padding: 2rem 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  font-size: larger;
}
.footer .link {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer ul {
  padding-inline-start: 0px;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 1rem;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
